{% extends 'base.html.twig' %}

{% block title %}Tous les Produits{% endblock %}

{% block body %}
    
    <div class="container">
        {# d-flex justify-content-around #}
        <div class="row align-items-end  ">        
            {% for product in products %}
                <div class="card" style="width: 18rem;margin-bottom:30px;margin-right:30px;">
                    <img src="{{ asset('images/') ~ product.image }}" height="150px" class="card-img-top" alt="...">
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <hr>
                        <p class="card-text">{{ product.price | number_format(0, ',', '') }} €</p>
                        <hr>
                        {% if product.promo %}
                            <div class="text text-warning">Promo !</div>
                        {% endif %}
                    </div>
                    <p class="text text-muted">{{ product.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
